
code/app/assets/
code/app/protected/views/user/_form.php
/code/nbproject/private/private.properties
/code/nbproject/project.properties
/code/nbproject/project.xml

code/app/protected/runtime/application.log

web/nbproject/private/private.xml
