.grid-view-loading
{
	background:url(loading.gif) no-repeat;
}

.grid-view table.items
{
    border:1px solid #fff;

    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;	

    -moz-box-shadow: 1px 1px 0px #999;
    -webkit-box-shadow: 1px 1px 0px #999;
    box-shadow: 1px 1px 0px #999;
}

grid-view table.items tbody
{
    border-top:1px solid #fff;
    background:#f4f4f4;
}

.grid-view table.items th
{
    background: -moz-linear-gradient(top,#fbfbfb,#f5f5f5);
    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#f5f5f5));
    text-transform:uppercase;
    font-size:10px;
    font-weight:normal;
    border-bottom:1px solid #ccc;
    text-shadow:-1px -1px #fff;
    padding:5px 15px;
    text-align:left;
}

.grid-view table.items th:hover {
    cursor:pointer;
}

.grid-view table.items tbody {
    border-top:1px solid #fff;
    background:#f4f4f4;
}

.grid-view table.items td
{
    padding:5px 15px;
}

.grid-view table.items tbody td {
    font-size:11px;
    vertical-align:middle;
}

.grid-view table.items th a
{
	color: #000;
	font-weight: bold;
	text-decoration: none;
}

.grid-view table.items th a:hover
{
	color: #FFF;
}

.grid-view table.items th a.asc
{
	background:url(up.gif) right center no-repeat;
	padding-right: 10px;
}

.grid-view table.items th a.desc
{
	background:url(down.gif) right center no-repeat;
	padding-right: 10px;
}

.grid-view table.items tr.odd
{
	background:#fafafa;
}

.grid-view table.items tr.selected
{
	background: #BCE774;
}

.grid-view table.items tr:hover
{
	background: #ECFBD4;
}

.grid-view .link-column img
{
	border: 0;
}

.grid-view .button-column
{
	text-align: center;
	width: 60px;
}

.grid-view .button-column img
{
	border: 0;
}

.grid-view .checkbox-column
{
	width: 15px;
}

.grid-view .summary
{
	margin: 0 0 5px 0;
	text-align: right;
}

.grid-view .pager
{
	margin: 5px 0 0 0;
	text-align: right;
}

.grid-view .empty
{
	font-style: italic;
}

.grid-view .filters input,
.grid-view .filters select
{
	width: 100%;
	border: 1px solid #ccc;
}